.button 
{
  display: flex;
  margin: 0 auto;
  padding: 10px 10px;
  text-align: center;
  background-color: rgb(70, 82, 241);
}

.input 
{
  display: flex;
  margin: 0 auto;
}

.circles 
{
  display: flex;
  margin: 0 auto;
}
