:root
{
    background-color: #E5E5E5;
    font-family: 'Public Sans', sans-serif; 
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
}

body
{
    width: 90%;
    margin: 0 auto;
}

.header p
{
    font-size:  24px;
    font-weight: bold;
    padding-top: 64px;
}

.px14
{
    font-size: 14px;
    padding-top: 80px;
}

.red
{
    color: red;
}

.inf
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;

}

.line
{
    color: #D1D1D1;
    margin: 32px 15px;
}

div.flex
{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 16px;
    justify-content: space-between;
}

label
{
    margin-bottom: 10px;
}


input[type="text"],
select[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"]
{
    width: 392px;
    height: 40px;
    border-radius: 4px; 
}

input.arrow
{
    background-image: url(../img/Vector1.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;
}

input.date
{
    background-image: url(../img/Vector2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;
}

input.lupa
{
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;
}

input[name="blu"]
{
    color: #0050D8;
}

div.one
{
   margin: 10px 15px;
}

.box
{
    margin-top: 30px;
    width: 392px;
}

input[name="one"]
{
    display: none;
}

input[name="one"] + label > span:first-of-type {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid black;
}

input[name="one"]:checked + label > span:first-of-type {
    background-color: #ff00ff;
    background-image: url(../img/Path20.png);
    background-repeat: no-repeat;
    background-size: contain;
}

div.button
{
    display: flex;
    justify-content: right;
}

input[type="submit"]
{
    color: white;
    background-color: #0050D8;
    border-radius: 4px;
    width: 70px;
    height: 40px;
}