@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

:root
{
    background-color: white;
}

body
{
    margin: 0 auto;
    width: 100%;
    min-width: 700px;
    max-width: 1000px;
    background-color: #212529;
}

section.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logo
{
    margin-left: 20px;
}

ul
{
    padding: 0 auto;
    font-weight: 600;
}

.ul>li
{
    color: white;
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

ul li a
{
    text-decoration: none;
    color: white;
}

ul li a:hover
{
    color: #FFB742;
}

.yellow_btn
{
    width: 7rem;
    height: 2.5rem;
    background-color: #FFB742;
    border: 2px;
    border-radius: 50px;
    text-align: center;
    line-height: 2.5rem;
    margin-right: 20px;
    font-weight: 700;
}

.yellow_btn a, 
.yellow_btn1 a
{
    text-decoration: none;
    color: black;
}

/*section title*/

section.title
{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
    margin-top: 70px;
}

.title p a 
{
    color: #FFB742;
}

/*section cards_title*/

section.cards_title
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 130px;
    font-family: 'Inter', sans-serif;
}

.card
{
    align-items: center;
    background-color: rgba(56, 62, 69, 0.44);
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

div.emblem
{
    display: block;
    border: 1px red;
    background-color: white;
    border-radius: 50%;
    
}

.emblem img
{
    width: 30px;
    padding: 5px;
    align-items: center;
}

.white_text
{
    color: white;
    font-size: 16px;
}

.yellow_text
{
    font-size: 25px;
    color: #FFB742;
}

.card:hover .yellow_text, .card:hover .white_text
{
    color: black
}
 
div.card:hover
{
    background-color: #FFB742;
    color: black;
}

/*avatar*/

section.scrin
{
    padding-top: 200px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.img_scrin
{
    display: inline-block;
    width: 40%;
    text-align: center;
    align-items: center;
    background-image: url(../img/Screenshot.png);
    background-size: 100% 100%;
}

.description_scrin
{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
}

.black_btn
{
    width: 7rem;
    height: 2.5rem;
    background-color: rgba(56, 62, 69, 0.44);
    border: 2px;
    border-radius: 50px;
    text-align: center;
    line-height: 2.5rem;
    margin-right: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.black_btn a
{
    text-decoration: none;
    color: #FFB742;
}

div p h1
{
    margin: 0;
}


/*section.myskil*/

section.myskil
{
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
}

div.myskils
{
    width: 90%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skil_description
{
    width: 35%;
}

.mini_cards
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini_card
{
    display: flex;
    width: 47px;
    height: 47px;
   
    border-radius: 10px;
    margin: 10px;
    background-color: #383E45;
}

div.row
{
    display: flex;
}

div.row1
{
    display: flex;
}

.sp1
{
    background-image: url(../img/sprites.png);
    background-position: 0px 0px;
}
.sp2
{
    background-image: url(../img/sprites.png);
    background-position: -47px 0px;
}
.sp3
{
    background-image: url(../img/sprites.png);
    background-position: -96px 0px;
}
.sp4
{
    background-image: url(../img/sprites.png);
    background-position: -144px 0px;
}
.sp5
{
    background-image: url(../img/sprites.png);
    background-position: -193px 0px;
}
.sp6
{
    background-image: url(../img/sprites.png);
    background-position: -241px 0px;
}
.sp7
{
    background-image: url(../img/sprites.png);
    background-position: 0px -145px;
}
.sp8
{
    background-image: url(../img/sprites.png);
    background-position: -49px -50px;
}
.sp9
{
    background-image: url(../img/sprites.png);
    background-position: -98px -49px;
}
.sp10
{
    background-image: url(../img/sprites.png);
    background-position: -144px -49px;
}
.sp11
{
    background-image: url(../img/sprites.png);
    background-position: -191px -49px;
}
.sp12
{
    background-image: url(../img/sprites.png);
    background-position: -241px -49px;
}

.mini_card:hover
{
    background-color: #FFB742;
}

.yellow_btn1
{
    width: 7rem;
    height: 2.5rem;
    background-color: #FFB742;
    border: 2px;
    border-radius: 50px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 700;
    margin-left: 9%;
}

/*section mywork*/

section.mywork 
{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    font-family: 'Poppins', sans-serif;
}

.black_btn1 a
{
    text-decoration: none;
    color: #FFB742;
    
}

p.black_btn1
{
    width: 7rem;
    height: 2.5rem;
    background-color: rgba(56, 62, 69, 0.44);
    border: 2px;
    border-radius: 50px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

section.mywork h1
{
    color: white;
}

.ul1>li
{
    color: white;
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    margin: 0;
}

ul li a
{
    text-decoration: none;
    color: white;
}

div.cover
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

div.cover1 img
{
    display: block;
    width: 250px;
}

div.homepage
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 100px;
}

.homepage1 img
{
    width: 250px;
}

/*section testimonials*/

section.testimonials
{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding-top: 100px;
    padding-bottom: 150px;
}

section.testimonials h1
{
    color: white;

}

p.black_btn2
{
    width: 10rem;
    height: 2.5rem;
    background-color: rgba(56, 62, 69, 0.44);
    border: 2px;
    border-radius: 50px;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

.black_btn2 a
{
    text-decoration: none;
    color: #FFB742;
}

div.testi
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif
}

div.coment
{
    background-color: white;
    width: 210px;
    padding: 20px;
    text-align: left;
}

p.foto
{
    vertical-align: middle;
    display: inline-block;
}

p span
{
    float: right;
    padding-top: 20px;
    padding-left: 20px;
}

/*section footer*/

section.footer
{
    background-color: #1C1C1C;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Work Sans', sans-serif;
}

div.footer1
{
    color: white;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

ol li
{
    font-size: 17px;
    list-style: none;
    padding-top: 20px;
}

ol
{
    padding: 0;
}

li a
{
text-decoration: none;
color: #7B7B7B;
}

.footer p a
{
    text-decoration: none;
    color: #FFB742;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
