:root
{
    font-size: 10px;
}

body 
{
    margin: 0 auto;
    min-width: 700px;
    max-width: 1000px;
}

div
{
    box-sizing: border-box;
}

.STRONG
{
    color: #3E45E8;
}

.UKRAINE
{
    color: #E8C23E;
}

.shapka
{
    font-size: 5rem;
}

.shapka2
{
    font-size: 4rem;
    padding-left: 50px;
}

.shapka_img
{
    background-image: url("../img/image1.jpg");
    width: 100%;
    height: 560px;
    min-width: 700px;
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 700px;
    max-width: 1000px;
    position: relative;
}

.title_img
{
    position: absolute;
    float: left;
    margin-left: 50px;
    margin-top: 120px;
}

.flag
{
    display: inline;
    float: left;
}

.title
{
    color: white;
    font-size: 4em;
}

.boxs
{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.box
{
    width: 30%;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
    overflow: hidden;
}

div.box 
{
    margin: .85rem;
    box-shadow: 0 0 2rem gray;
    float: left;
}

.box img 
{
    width: 100%;
}

.button 
{
    font-size: 6rem;
    text-align: center;
    display: inline-block; 
    background: #2A61F0; 
    color: white; 
    padding: 1rem 6rem;
    text-decoration: none; 
    cursor: pointer;
}
   
.map_ukraine
{
    display: block;
}

.img1
{
    width: 65%;
}

.botton
{
    display: block;
    min-width: 700px;
    max-width: 1000px;
    background-color: #2F4A4B;
    padding: 0px;
}

.center
{
    text-align: center;
}

.linki
{
    font-size: 2.5rem;
}

.qq
{
    margin: 15px;
}

.line1
{
    width: 300px;
    padding-left: 10px;
}

.text_size1
{
    font-size: 2.5rem;
}

.text_size2
{
font-size: 2rem;
}