:root
{
    min-width: 1600px;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: block;
    font-family: 'PT Sans', sans-serif;
}

body
{
    margin: 0 auto;
}

.mainNaw {
    width: 100px;
    height: 100px;
    background-color: rgba(55, 57, 68, 0.62);
    color: white;
    font-size: 72px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    right: 55px;
    bottom: 55px;
}

section.header
{
    width: 100%;
    margin: 0 auto;
    background-color: #202846;
    display: flex;
    flex-direction: row;
    position: sticky;
    overflow: auto;
}

.header
{
    width: 100%;
    padding: auto;
}

.item
{
    width: 250px;
    margin: auto;
    text-align: center;
    color: white;
    text-align: center;
}

.item a
{
    text-decoration: none;
    color: white;
}

.logo 
{
    width: 178px;
    height: 70px;
    background-image: url(../img/gory.png);
    background-repeat: no-repeat;
    border-radius: 35px;
}

.header a
{
    padding-left: 2rem;
}

.globus
{
    margin-right: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    flex-basis: 60px;
}

.ua
{
    margin-left: 0;
}

.title
{
    width: 100%;
    background-color: #C6C6DC;
    padding: 15px;
}

.menu
{
    display: block;
    text-align: center;
    width: 80%;
    margin: 4rem auto;
    padding: .2rem;
    background-color: #E8E8E8;
   
}

div.menu
{
    width: 80%;
    background-color: #E8E8E8;
    margin: 2rem auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.text1
{
    font-size: 28px;
    padding: 15px 0px;
}

.text2
{
    position: relative;
    right: 1rem;

}

div.cards
{
    margin: 0 auto;
    width: 80%;
    height: 300px;
    background-color: #BDBDC6;
    box-sizing: border-box;
    position: relative;
}

div.card
{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    margin-right: 15px;
    position: relative;
}

.meta
{
   margin: 25px;
}

div.photo
{
    
    width: 30em;
    height: 250px;
    background-repeat: round;
}    

div.description
{
    height: 250px;
}

hr.line
{
    background-color: white;
    height: 3px;
}

div.opis
{
    background-color: #D7D7DD;
    width: 700px;
    height: 125px;
    text-align: center;
    padding: 20px;
}

svg
{
    position: absolute;
    right: 5px;
    margin-top: 10px;
}

button.button
{
    background-color: #202846;
    color: white;
    cursor: pointer;
    width: 200px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    position: absolute;
    right: -100px;
    bottom: 10px;
}

svg path:hover
{
    fill: #FFFF00;
}

.cards:hover
{
    background-color: #AEAEE2;
}

.cards:hover .star 
{
    background-color: #FFFF00;
}

button:hover
{
    background-color: #EF075B;
}

.title1
{
    margin-top: 400px;
}

.title h2
{
    padding-left: 150px;
}

section.kabinet
{
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}
.card_kabinet
{
    width: 70%;
    height: 300px;
    background-color: #BDBDC6;
    margin:  auto;
    padding: 75px;
    display: flex;
    justify-content: space-evenly;
}

div.avatar
{
    flex-direction: column;
    text-align: center;
}

div.center
{
    text-align: center;
    margin-top: 40px;
}

button.button1
{
    background-color: #202846;
    color: white;
    cursor: pointer;
    width: 250px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
}
.button1:hover
{
    background-color: #69749B;
}
.opys
{
    font-size: 20px;
    
}

.title2
{
    margin-top: 400px;
}

.contacts
{
    font-size: 20px;
    width: 80%;
    margin: 50px auto;
    margin: ;
    
}

.row_centr
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.contacts a
{
    text-decoration: none;
    color: black;
}

hr.line1
{
    background-color: #202846;
    height: 3px;
}

.footer
{
    font-size: 30px;
    width: 100%;
    height: 90px;
    background-color: #202846;
    color: white;
    padding: 4px;
    position: relative;
}