@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    font-family: 'Rosario', sans-serif;
    margin: 0 auto;
}

section.header
{
    height: 10vh;

}

div.main_menu
{
    position: fixed;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center; 
    z-index: 100;
}

div.logo img
{
    height: 10.5vh;
    background-color: white;
}

ul.menu
{
    display: flex;
    padding: 0;
    margin: 0;
}

ul.menu li
{
    list-style: none;
}

ul.menu li:hover
{
    transform: scale(1.5);
}

ul li a
{
    color: white;
    text-decoration: none;
    padding: 2vw;
}

ul li a:hover
{
    color: lime;
}


/*section page_1*/
section.page1
{
    height: 90vh;
    width: 100vw;
}

div.img
{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 5vh auto;
    align-items: center;
    padding-bottom: 10vh;
}

div.center_img
{
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

div.center_img img
{
    width: 20vw;
    margin-bottom: 50px;
}

.left_img img
{
    width: 15vw;
}

.right_img img
{
    width: 15vw;
}

.img1
{
    transform: translateX(-100vw);
    animation: page1_left 1s linear 1s forwards ;
}

.left_img
{
    transform: translateX(-100vw);
    animation: page1_left 2s linear 1s forwards ;
}

.img2
{
    transform: translateX(+100vw);
    animation: page1_right 1s linear 1s forwards ;
}

.right_img
{
    transform: translateX(+100vw);
    animation: page1_right 2s linear 1s forwards ;
}

.img2 img:hover,
.img1 img:hover,
.left_img img:hover,
.right_img img:hover
{
    transform: scale(1.2) rotateY(360deg);
    transition: all 2s;
}

/*section page_2*/

section.page_2
{
    height: 90vh;
    width: 100vw;
}

.page_2_1
{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.page_2_2
{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.page_2_2 img
{
    width: 15vw;
    margin: 1vw;
}

.page_2_3
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 50vw;
}

.page_2_4 img
{
    width: 50vw;
    height: 90vh;
}

.page_2_3 h1
{
    margin-top: 0;
}

div.anime1
{
    animation: page21 4s linear infinite forwards;
    position: relative;
}

div.anime2
{
    animation: page22 4s linear infinite forwards;
    position: relative;
}

div.anime3
{
    animation: page23 4s linear infinite forwards;
    position: relative;
}

div.anime4
{
    animation: page24 4s linear infinite forwards;
    position: relative;
}

@keyframes page21 {
    from,
    to {
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
    25% {
        left: 0%;
        top: 115%;
        right: 100%;
        bottom: 100%;
    }
    50% {
        left: 45%;
        top: 115%;
        right: 0%;
        bottom: 100%;
    }
    75% {
        left: 45%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
  }

@keyframes page22 {
    from,
    to {
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
    25% {
        left: -45%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
    50% {
        left: -45%;
        top: 115%;
        right: 0%;
        bottom: 0%;
    }
    75% {
        left: 0%;
        top: 115%;
        right: 0%;
        bottom: 0%;
    }
}

  @keyframes page23 {
    from,
    to {
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
    25% {
        left: 45%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
    50% {
        left: 45%;
        top: -115%;
        right: 0%;
        bottom: 0%;
    }
    75% {
        left: 0%;
        top: -115%;
        right: 0%;
        bottom: 0%;
    }
  }

  @keyframes page24 {
    from,
    to {
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
    }
    25% {
        left: 0%;
        top: -115%;
        right: 0%;
        bottom: 0%;
    }
    50% {
        left: -45%;
        top: -115%;
        right: 0%;
        bottom: 0%;
    }
    75%  {
        left: -45%;
        top: 0%;
        right: 0%;
        bottom: -115%;
    }
  }

/*section page_3*/

section.page_3
{
    height: 90vh;
}

section.page_3 h1
{
    height: 10vh;
    text-align: center;
    font-size: 10vh;
    padding-top: 20vh;
}

.page_3_1
{
    display: flex;
    justify-content: space-around;
}

.page_3_1 img
{
    width: 20vw;
    height: 60vh;
}

.page_3_1:hover .card
{
    opacity: .5;
}

.page_3_1 .card:hover
{
    opacity: 1;
    transform: scale(1.2) rotateY(360deg);
    transition: all 5s;

}

.card
{
    position: relative;
}

.menu_card
{ 
    background-color:rgba(163, 83, 10, 0.7); 
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 40px 40px;
    font-size: 3rem;
    text-align: center;
    overflow: hidden;
}

.card:hover .menu_card
{
    height: 20%;
}

/*section page_4*/

section.page_4
{
    padding-top: 10vh;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
}

.page_4_1
{
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page_4_1_1
{
    width: 35vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page_4_2
{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.page_4_0
{
    display: flex;
    flex-direction: column;
    background-color: rgba(229, 229, 229, 1);
}

.page_4_0_1
{
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div input
{
    padding: 1.5vh;
    margin: 3vh;
}

section.page_4 ul li a
{
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    padding: 2vw;
}

li.fon 
{
    list-style-image: url(../img/insta.png);
}

li.fon1 
{
    list-style-image: url(../img/meta.png);
}

ul li.fon2 
{
    list-style-image: url(../img/twiter.png);
}

div.non_style a
{
    text-decoration: none;
    color: black;
}


/*  anime  */

@keyframes page1_left {
    from {
        transform: translate(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes page1_right {
    from {
        transform: translateX(+100);
    }
    to {
        transform: translateX(0);
    }
}

