
header
{
    width: 800px; 
    height: 200px; 
    border: 1px solid green;
    background-color: yellow;
    text-align: center; 
    box-sizing: border-box; 
}

nav
{
    width: 100px; 
    height: 400px; 
    border: 1px solid yellowgreen; 
    background-color: aqua;
    text-align: center; 
    display: inline-block; 
    box-sizing: border-box; 
}

section
{
    width: 700px; 
    height: 400px; 
    border: 1px solid blue; 
    background-color: coral;
    text-align: center; 
    display: inline-block; 
    box-sizing: border-box; 
}

footer
{
    width: 800px; 
    height: 200px; 
    border: 1px solid red; 
    background-color: cornflowerblue;
    text-align: center; 
    box-sizing: 
    border-box; 
}