@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


section
{
    width: 700px;
    display: grid;
    background-color: #FFB084;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 10px;
    gap: 30px;
    padding: 30px 40px;
    margin: 0 auto;
    font-family: 'Work Sans';
    font-size: 13px;
}

section div
{
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    border-radius: 20px;
}

.blok1
{
    grid-row: 1/12;
    grid-column: 1;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
}

.blok2
{
    grid-column: 1;
    grid-row: 12;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
    text-align: center;
}

.blok3
{
    grid-column: 2/4;
    grid-row: 1/5;
    box-shadow: 7px 7px rgba(0, 0, 0, 1);
}

.blok4
{
    grid-column: 2;
    grid-row: 5/9;
    box-shadow: 7px 7px rgba(41, 167, 30, 1);
}

.blok5
{
    grid-column: 2;
    grid-row: 9/13;
    box-shadow: 7px 7px rgba(54, 117, 176, 1);
}

.blok6
{
    grid-column: 3;
    grid-row: 5/11;
    box-shadow: 7px 7px rgba(225, 53, 53, 1);
}

.blok7
{
    grid-column: 3;
    grid-row: 11/13;
    box-shadow: 7px 7px black;
}

.blok1 p
{
    padding-top: 10px;
}

h1
{
    text-align: center;
    margin:  0;
}

div img
{
    margin-top: 10px ;
}

b.left
{
    margin-left: 25px;
}

.blok4 p
{
    color: rgba(41, 167, 30, 1);
}

ul
{
    padding-left: 20px;
}

ul li
{
    padding-top: 3px;
    
}

ul li a
{
    text-decoration: none;
    color: black;
}

.blok5 p
{
    color: rgba(54, 117, 176, 1);
}

.blok6 p
{
    color: rgba(225, 53, 53, 1);
}